.register-form {
  .card-wrapper {
    background: #FFFFFF;
    box-shadow: 3px -5px 40px rgba(205, 205, 212, 0.1);
    border-radius: 0px 50px 50px 0px;
    padding: 20px
  }

  .img-wrapper {
    background: #7DAFFF;
    border: 1px solid #7DAFFF;
    box-sizing: border-box;
    border-radius: 50px 0px 0px 50px;
  }


  .row {
    margin-bottom: 15px;
  }

  .card {
    border: none;
    padding-top: 30px;

  }

  img {
    width: 100%;
  }

}



