@font-face {
    font-family:"Poppins";
    src:url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    size: 18px;
}

.assessments{
    font-family:"Poppins",sans-serif;
    width: 28px;
    font-size: 14px;
    border:solid 1px black;
    border-radius: 7px;
    text-align: center; 
    
   
}

.table-sm td, .table-sm th {
    text-align: center;
}


